
/* buttons */
.stButton>button {
   background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    width: 250px;
    height: 50px;
}
/* title */
.css-h2raq8>h2{
    width:110%;
    text-align: center;
}
/* sidebar width reduce */
.css-1l02zno{
    color: black;
    background-color: #2e7bcf;
    width: 15rem;
}
/* Main page */
.reportview-container {
        background: solid white;
    }

img {
  position: absolute;
  left: -200px;
  top: -100px;
  width: 200px;
  height: 150px;
}

/* .css-145kmo2{
    color: white;
} */

/* .css-1d0tddh{
    color: white;
} */

/* .css-1lcbmhc{
    width: 100px;
    height: 100px;
} */